body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    background-color: black; 
    margin: 0; 
    padding: 20px; 
}

.container h1 {
    text-align: center; 
    color: #333; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
}

.icon-container i {
    font-size: 8rem; 
    margin: 10px;
    transition: all 0.3s ease; 
}

.icon-container i:hover {
    transform: scale(1.5); 
    color: green; 
}